<div class="gradient-custom border">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="<%=root_path%>" aria-current="page" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" target="_blank">Create user</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" target="_blank">Log out</a>
    </li>
  </ul>
</div>
